<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post">
        <div>Name:</div>
        {{form.name()}}
        <div>Username:</div>
        {{form.username()}}
        <div>mail:</div>
        {{form.mail()}}
        <div>Password:</div>
        {{form.password()}}
        <div>Confirm password:</div>
        {{form.password_confirm()}}
        <div></div>
        {{form.submit()}}
    </form>
</body>
</html>