{% extends 'base.html' %}
{% block content %}
<div id="content">
    <div class="scroll">
        <div class="scrollContainer">
            {% for event in events %}
            <div class="panel">
                <img src="{{event['image_reference']}}"/>
                <p>Description: <br> {{event['content']}}</p>
                <p>Start time: {{event['time_start']}}</p>
                <p>End time: {{event['time_end']}}</p>
                <p>Location: {{event['location']}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}