{% extends 'base.html' %}
{% block pre_content %}
<ul id="user_info">
    <li><img src="{{person['image_reference']}}"></li>
    <li>{{person['name']}}</li>
    <li>{{person['mail']}}</li>
    <li>{{person['bio']}}</li>
    <li>{{person['location']}}</li>
    <li>{{person['tags']}}</li>

    {% if person['username'] != username %}
        {% if user_subscribed %}
            <a href="{{person['username']}}/subscribe">Unsubscribe</a>
        {% else %}
            <a href="{{person['username']}}/subscribe">Subscribe</a>
        {% endif %}
    {% endif %}
    <a href="{{person['username']}}/subscribers" id="subscriptions">Subscribers</a>
</ul>

{% endblock %}
{% block content %}
<div id="content">
    <div class="scroll">
        <div class="scrollContainer">
            {% for post in posts %}
            <div class="panel"  >
                <img src="{{post['image_reference']}}"/>
                <p>{{post['content']}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}