{% extends 'base.html' %}
{% block pre_content %}
<ul id="user_info">
    <li><img src="{{person['image_reference']}}"></li>
    <li>{{person['username']}}</li>
    <li>{{person['bio']}}</li>
    <li>{{person['mail']}}</li>
    <li>{{person['location']}}</li>
    <li>{{person['tags']}}</li>
    
    {% if person['username'] != username %}
        {% if user_subscribed %}
            Unsubscribe
            <!-- form.unsubscribe()  -->
        {% else %}
            Subscribe
            <!-- form.subscribe() -->
        {% endif %}
    {% endif %}
    <a href="/subscritions/{{username}}" id="subscritions"> Subscribtions</a>
</ul>
{% endblock %}
{% block content %}
<div id="content">
    <div class="scroll">
        <div class="scrollContainer">
            {% for post in posts %}
            <div class="panel" id="{{post['u_id_post']}}">
                <img src="{{post['image_reference']}}"/>
                <p>{{post['content']}}</p>

                <div class="btn_more"><a href="#{{post['u_id_post'] + 1}}">next <span>&raquo;</span></a></div>
                <div class="btn_more"><a href="#{{post['u_id_post'] - 1}}"><span>&laquo;</span> prev </a></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}